<!--One launch file to rule them all-->
<!--see readme section on launch files for details on how to use file-->
<!--maintainer email="nxgamarra@gmail.com">Nikolas Gamarra</maintainer-->

<launch>
 

  <arg name="sim" default="false" />
 <!--Launch other nodes-->

 <!--Kinect-->
  <include file="$(find freenect_launch)/launch/freenect.launch">
  </include>

 <!--ROS-Industrial-->
  <group if="$(arg sim)">
    <include file="$(find abb_irb1600_6_12_moveit_config)/launch/moveit_planning_execution.launch" output="log">
      <arg name="sim" value="$(arg sim)"/>
    </include>
  </group>

  <group unless="$(arg sim)">
    <include file="$(find abb_irb1600_6_12_moveit_config)/launch/moveit_planning_execution.launch" output="log">
      <arg name="sim" value="$(arg sim)"/>
      <arg name="robot_ip" value="192.168.100.100"/>
    </include>
  </group>
<!--Static TFs-->
  <include file="$(find master_launcher)/launch/staticTFs.launch">
  </include>


 <!--Launches filtering of point cloud-->
  <include file="$(find point_cloud_processing)/launch/point_cloud_processing.launch" output="log">
  </include>
 <!--Making a costmmap_2d-->

</launch>
