<!--Launch file for nodelets-->
<!--see readme section on launch files for details on how to use file-->
<!--maintainer email="nxgamarra@gmail.com">Nikolas Gamarra</maintainer-->

<launch>

  <node name="rviz" pkg="rviz" type="rviz" args="-d ~/AVRS_ws/rviz/CLN_4.rviz" />

 <!--Kinect-->
  <include file="$(find freenect_launch)/launch/freenect.launch">
  </include>



</launch>
