<!--TEST-->
<launch>


<!--Location of Kinect-->
 <node pkg="tf" type="static_transform_publisher" name="kinect" args="-.50 .45 .580 -1.5708 0 0 base_link camera_link 1000"/>

<!--pose fix for kinect-->
 <node pkg="tf" type="static_transform_publisher" name="kinect2" args="0 0 0 1.5708 0 1.5708  camera_link camera_link2 1000"/>

<!--arm camera-->
 <node pkg="tf" type="static_transform_publisher" name="camera" args=".1 0 .1 0 0 0 link_6 arm_camera 1"/>

<!--Tool change holsters-->

 <node pkg="tf" type="static_transform_publisher" name="tool_change" args=".75 -.5 .5 -1.5708  3.1416 0 base_link tool_change_hub 1"/>

<!--TESLA-->
 <node pkg="tf" type="static_transform_publisher" name="tool_1" args=".25 0 .25 0 0 0 tool_change_hub h_tool_tes 1"/>

 <node pkg="tf" type="static_transform_publisher" name="tool_1_clear" args="0 0 -.25 0 0 0 h_tool_tes h_tool_tes_clear 1"/>

<!--VAC-->
 <node pkg="tf" type="static_transform_publisher" name="tool_2" args="0 0 .25 0 0 0 tool_change_hub h_tool_vac 1"/>

 <node pkg="tf" type="static_transform_publisher" name="tool_2_clear" args="0 0 -.25 0 0 0 h_tool_vac h_tool_vac_clear 1"/>

<!--J1772-->
 <node pkg="tf" type="static_transform_publisher" name="tool_3" args="-.25 0 .25 0 0 0 tool_change_hub h_tool_j17 1"/>

 <node pkg="tf" type="static_transform_publisher" name="tool_3_clear" args="0 0 -.25 0 0 0 h_tool_j17 h_tool_j17_clear 1"/>



</launch>
